<html>
    <head>
        <title>Stock Update</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            form
            {
                margin-left:500;
                border-style: solid;
                margin-top: 10px;
                padding:50 50 50 50;
                height: px;
                width: 600px;
                font-weight: bold;
                color:rgb(2, 0, 14)
                
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">
             Fashion Feet
           </a>
           <ul class="nav navbar-nav">
            <li class="active nav-item"><a href="/"class = "nav-link">Home</a></li>
            <li class = "nav-item"><a href="/addItem" class = "nav-link">Add a New Item</a></li>
            <li class = "nav-item"><a href="/updateStock" class = "nav-link">Update Stock</a></li>
            <li class = "nav-item"><a href="/deleteStock" class = "nav-link">Delete Item</a></li>
          </ul>
         </nav>
        <center><h1 style = "margin-top: 50px; margin-bottom: 50px;">Update the Stock</h1></center>
        <form method="POST" action="/updateStockDB">
            <div class="form-group">
                <label for="pid">Enter Product ID</label>
                <input type="text" class="form-control" name = "pid">
            </div>
            
            <div class="form-group">
                <label for="pid">Enter New Stock</label>
                <input type="text" class="form-control" name = "stock">
            </div>
            <button type="submit" class="btn btn-primary" style = "margin-left: 200;">Submit</button>
        </form>
    </body>
</html>